/*
fbf0f0 #233142
dfd3d3 #455d7a
b8b0b0 #f95959
7c7575 #e3e3e3
*/

/*
EAF6F6
*/


body {
    background-color: #e3e3e3;
}

hr {
    border-style: none;
    border-top-style: solid;
    border-color: #233142;
    border-width: 2px;
    width: 100%;
}

h1 {
    color: #233142;
    font-size: 3.5rem;
}

h3 {
    color: #223142;
    font-size: 2rem;
}

.headshot-img {
    height: 400px;
    border-radius: 100%;
}
