/*
#5D5B6A  #282638 -> top container bg color 231e32
#758184  #49464D -> body bg color
#CFB495  #EBF2FF -> body text
#F5CDAA  #F3BB8A -> original as 'orange title'
#F2977B  #FFDA07
*/

/*
Purple: #282638
Orange: #ea5e42
Cream: #f5cdaa
Gray: #49464d
White: #EBF2FF
 */


/******************** SELECTOR TAGS ********************/
body {
    background-color: #EBF2FF;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
}

h1 {
    display: inline-block;
    font-family: 'Long Cang', cursive;
    font-size: 10rem;
    letter-spacing: 3px;
    margin: 100px 0 50px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 3.175rem;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 20px;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 20px 0;
    text-align: left;
}

h4 {
    color: #49464d;
    font-family: 'Roboto Slab', serif;
    font-size: 1.125rem;
    font-weight: 500;
    margin: 10px 0;
    text-align: left;
}

h5 {
    color: #282638;
    font-family: 'Roboto Slab', serif;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: .05rem;
    margin: 10px 0;
    text-align: left;
}

hr {
    clear: both;
    margin: 40px 0;
}

p {
    margin: 10px 0;
    padding: 15px 0;
    text-align: left;
}


/******************** CLASS TAGS ********************/

.background-gray {
    background-color: #49464D;
}

.background-white {
    background-color: #e2edf9;
}

.background-orange {
    background-color: #ea5e42;
}

.background-purple {
    background-color: #282638;
}

.bottom-cloud {
    position: absolute;
    left: 24%;
    bottom: 28%;
    transform: scaleX(-1);
}

.copyright-tag {
    color: white;
    font-size: 0.95rem;
    margin: 30px 0 0;
    text-align: center;
}

.education-description {
    margin-bottom: 5px;
    margin-top: 0;
    padding-bottom: 12px;
    padding-top: 0;
}

.edu-course {
    margin-top: 10px;
    margin-bottom: 5px;
}

.edu-institute {
    margin: 10px 0;
}

.experience-description {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.experience-item {
    margin: 20px 0;
}

.experience-links {
    color: #ea5e42;
    display: block;
    text-align: left;
    text-decoration: none;
}

.experience-links:hover {
    color: #49464D;
    text-decoration: none;
}

.experience-time {
    padding: 0;
}

.footer-link {
    color: #F5CDAA;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.footer-link:hover {
    color: #EBF2FF;
    letter-spacing: 1px;
    text-decoration: none;
}

.headshot-img {
    border-radius: 100%;
    height: auto;
    max-width: 300px;
    width: 100%;
    vertical-align: middle;
}

.hr-orange {
    border-color: #ea5e42;
}

.hr-gray {
    border-color: #49464D;
}

.mid-cloud {
    position: absolute;
    right: 15%;
    top: 25%;
    transform: scaleX(-1);
}

.mountain-img {
    position: absolute;
    bottom: 0;
    right: 6%;
    height: auto;
    width: 52.325rem;
    max-width: 44%;
    max-height: 54%;
}

.skills-lgi {
    background-color: #49464d;
    color: #EBF2FF;
    text-align: left;
}

.social-icon {
    margin: 5px 10px 5px 0;
}

.social-link {
    color: inherit;
    font-family: 'Long Cang', cursive;
    font-size: 1.4rem;
    font-weight: 200;
    text-decoration: none;
}

.social-link:hover {
    color: #ea5e42;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
}

.text-cream {
    color: #F5CDAA;
}

.text-gray {
    color: #49464D;
}

.text-orange {
    color: #EA5E42
}

.text-purple {
    color: #282638;
}

.text-white {
    color: #EBF2FF;
}

.title-tag {
    letter-spacing: 1px;
    text-align: center;
}

.top-cloud {
    position: absolute;
    left: 15%;
    top: 17%;
}

.top-container {
    height: 100vh;
    margin: 0;
    position: relative;
}

.welcome-line {
    margin-left: 15px;
    margin-right: 15px;
}

/******************** ID TAGS ********************/



/******************** CSS BUTTON ********************/
.btn {
   background: #758184;
   background-image: -webkit-linear-gradient(top, #758184, #5D5B6A);
   background-image: -moz-linear-gradient(top, #758184, #5D5B6A);
   background-image: -ms-linear-gradient(top, #758184, #5D5B6A);
   background-image: -o-linear-gradient(top, #758184, #5D5B6A);
   background-image: -webkit-gradient(top, bottom, #758184, #5D5B6A);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #282638;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 20px 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #F5CDAA 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #000000 1px;
   background: #5D5B6A;
   background-image: -webkit-linear-gradient(top, #5D5B6A, #758184);
   background-image: -moz-linear-gradient(top, #5D5B6A, #758184);
   background-image: -ms-linear-gradient(top, #5D5B6A, #758184);
   background-image: -o-linear-gradient(top, #5D5B6A, #758184);
   background-image: -webkit-gradient(top, bottom, #5D5B6A, #758184);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}


/******************** BOOTSTRAP OVERRIDES ********************/

.container {
    padding: 3% 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}
